<!DOCTYPE html>
{% load static%}

<!--==============================
              header
=================================-->
<html dir="rtl" lang="fa-IR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/mdb.min.css'%}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>نی نی کست</title>
    <meta name="robots" content="noindex,follow">
    <link rel="stylesheet" id="font-css" href="{% static 'css/font-awesome.min.css'%}" type="text/css" media="all"/>
    <link rel="stylesheet" id="compiled-css" href="{% static 'css/compiled.min.css'%}" type="text/css" media="all"/>
    <link rel="stylesheet" id="style-css" href="{% static 'css/style.css'%}" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/rtl.css'%}" type="text/css" media="screen" />
</head>

<body class="rtl home blog">

<!-- logo and navigation -->

<nav id="site-navigation" class="main-nav" role="navigation">
    <div id="main-nav-wrapper">
        <div id="logo">
            <a href="#" title="قالب pinbin" rel="home">
                <div id="logo2">
                    <img src="{% static 'images/logo.png'%}" alt="logo ninicast">
                </div>
            </a>
        </div>
        <div class="menu-container">
            <ul id="menu-n" class="menu">
                <li id="menu-item-163"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-163">
                    <a href="/">خانه</a></li>
                <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a
                        href="/itssafe">بارداری</a></li>
                <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a
                        href="/itsnormal">بچه داری</a></li>
                <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a
                        href="#">دانلود اپ</a></li>

            </ul>
        </div>

    </div>

</nav>
<div class="clear"></div>
<div id="header"></div>
<div id="wrap">
    <!--=================================-->
    {% block content %}

    {% endblock %}
    <!--==============================
                  footer
    =================================-->

</div>


<footer class="site-footer">
    <div id="copyright">
       <!--<a target="_blank" title="قالب وردپرس">نی نی کست: صدای مادران شاد</a>-->
        <div class="right">
            <p>نی نی کست هیچ توصیه‌ی پزشکی و درمانی در این حوزه نمی‌کند و این نوشته‌ها جایگزین مراجعه به پزشک نیستند. | همه‌ی حقوق این وبسایت از جمله حق کپی رایت برای نی نی کست محفوظ است..</p>
        </div>
    </div><!-- // copyright -->
</footer>

<script type="text/javascript" src="{% static 'js/masonry.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery.masonry.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/functions.js'%}"></script>
<script type="text/javascript" src="{% static 'js/mobile-nav.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/wp-embed.min.js'%}"></script>
<!-- JQuery -->
<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js'%}"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/tether.min.js'%}"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js'%}"></script>


</body>
</html>