<!DOCTYPE html>
{% load static%}

<!--==============================
              header
=================================-->
<html dir="rtl" lang="fa-IR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/mdb.min.css'%}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>نی نی کست</title>
    <meta name="robots" content="noindex,follow">
    <link rel="stylesheet" id="font-css" href="{% static 'css/font-awesome.min.css'%}" type="text/css" media="all"/>
    <link rel="stylesheet" id="compiled-css" href="{% static 'css/compiled.min.css'%}" type="text/css" media="all"/>
    <link rel="stylesheet" id="style-css" href="{% static 'css/style.css'%}" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/rtl.css'%}" type="text/css" media="screen" />



    <!--<link rel="profile" href="http://gmpg.org/xfn/11" />-->
    <!--<link rel="publisher" href="https://plus.google.com/+p30download/posts" />-->
    <!--<meta charset="utf-8" />-->
    <!--<meta http-equiv="imagetoolbar" content="no" />-->
    <!--<meta property="og:locale" content="fa_IR"/>-->
    <!--<meta property="og:site_name" content="پی سی دانلود"/>-->
    <!--<meta property="article:publisher" content="https://www.facebook.com/p30dl"/>-->
    <!--<meta name="twitter:url" content="https://twitter.com/p30dl">-->
    <!--<meta name="twitter:creator" value="@p30dl">-->
    <!--<meta name="twitter:creator" value="@p30dl">-->
    <!--<title>پی سی دانلود: نرم افزار، فیلم، بازی، کتاب، آموزش و برنامه موبایل</title>-->
    <!--<meta name="description" content="دانلود رایگان نرم افزار، فیلم، موزیک، کتاب، آموزش، بازی و برنامه موبایل؛ همه و همه در پی سی دانلود" />-->
    <!--<meta name="keywords" content="دانلود, لینک مستقیم, نرم افزار, موبایل, بازی, کتاب, گرافیک, بازی, اموزش, مکینتاش, موزیک, فیلم, انتی ویروس, فتوشاپ, ویندوز, مستند, انیمیشن, فونت فارسی, دیکشنری, download, crack, serial, office 2013, windows 8, antivirus, software, mobile, game, graphic, video, ebook, tutorial, audio, macintosh, nod32, idm, photoshop, \d sd nhkg,n, nhkg,n" />-->
    <!--<meta property="og:type" content="website"/>-->
    <!--<meta property="og:title" content="پی سی دانلود"/>-->
    <!--<meta property="og:url" content="http://p30download.com/"/>-->
    <!--<meta property="og:description" content="دانلود رایگان، سایت دانلود با لینک مستقیم، از دانلود لذت ببرید!، دانلود نرم افزار، دانلود برنامه و بازی موبایل، دانلود بازی، دانلود کتاب، دانلود فیلم، دانلود گرافیک، دانلود مکینتاش، دانلود موزیک، دانلود آموزش" />-->
    <!--<link rel="canonical" href="http://p30download.com/" />-->
    <!--<meta http-equiv="refresh" content="900">-->
    <!--<link rel="start" href="http://p30download.com/" />-->
    <!--<link rel="sitemap" href="http://p30download.com/sitemap.xml" />-->
    <!--<link rel="alternate" type="application/rss+xml" title="خوراک پی سی دانلود" href="http://p30download.com/fa/main/feed/rss.xml" />-->
    <!--<link rel="shortcut icon" type="image/ico" href="http://p30download.com/favicon.ico" />-->
    <!--<link rel="search" type="application/opensearchdescription+xml" href="http://p30download.com/template/xml/p30dl.xml" title="P30download Search" />-->



    <!--<title>دانلود USB Flash Drive Format Tool v1.0.0.320 - نرم افزار فرمت درایو U</title>-->
    <!--<meta name="description" content="فرمت مطئن درایو فلش یو اس بی و ساخت یو اس بی قابل بوت برای نصب ویندوز / Securely format USB flash drive and create bootable USB stick to install Windows on your computer using this user-friendly software solution" />-->
    <!--<meta name="keywords" content="Disk Format , Disk Storage , Erase , Format , Format Disk Storage , USB Disk Format ,فرمت ,فرمت کردن USB ,فرمت کردن فلش مموری ,دانلود نرم افزار برطرف کردن مشکل کاهش حجم فلش ,دانلود نرم افزار ایجاد دیسک بوتیبل از فلش مموری ,یو اس بی فرمتینگ ,دانلود نرم افزار فرمت کردن فلش ,دانلود نرم افزار فرمت کردن فلش مموری ,دانلود نرم افزار ایجاد بوتیبل دیسک از فلش مموری ,دانلود نرم افزار یو اس بی فلش درایو فرمت تول ," />-->
    <!--<link rel="canonical" href="http://p30download.com/fa/entry/69962/" />-->
    <!--<meta property="og:type" content="article"/>-->
    <!--<meta property="og:title" content="دانلود usb Flash drive Format tool v1.0.0.320 - نرم افزار فرمت درایو USB"/>-->
    <!--<meta property="og:url" content="http://p30download.com/fa/entry/69962/"/>-->
    <!--<meta property="og:description" content="فرمت مطئن درایو فلش یو اس بی و ساخت یو اس بی قابل بوت برای نصب ویندوز / securely format usb flash drive and create bootable usb stick to install windows on your computer using this user-friendly software solution" />-->
    <!--<meta property="og:image" content="http://img.p30download.com/software/image/2017/02/1485949963_usb-flash-drive-format-tool.jpg"/>-->
    <!--<meta name="twitter:card" content="summary"/>-->
    <!--<meta name="twitter:url" content="http://p30download.com/fa/entry/69962/"/>-->
    <!--<meta name="twitter:title" content="دانلود usb Flash drive Format tool v1.0.0.320 - نرم افزار فرمت درایو USB"/>-->
    <!--<meta name="twitter:description" content="فرمت مطئن درایو فلش یو اس بی و ساخت یو اس بی قابل بوت برای نصب ویندوز / securely format usb flash drive and create bootable usb stick to install windows on your computer using this user-friendly software solution" />-->
    <!--<meta name="twitter:image" content="http://img.p30download.com/software/image/2017/02/1485949963_usb-flash-drive-format-tool.jpg"/>-->
    <!--<link rel="start" href="http://p30download.com/fa/software/" />-->


</head>

<body class="rtl home blog">

<!-- logo and navigation -->

<nav id="site-navigation" class="main-nav">
    <div id="main-nav-wrapper">
        <div id="logo">
            <a href="#" title="قالب pinbin" rel="home">
                <div id="logo2">
                    <img src="{% static 'images/logo.png'%}" alt="logo ninicast">
                </div>
            </a>
        </div>
        <div class="menu-container">
            <ul id="menu-n" class="menu">
                <li id="menu-item-163"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-163">
                    <a href="/">خانه</a></li>
                <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a
                        href="/itssafe">بارداری</a></li>
                <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a
                        href="/itsnormal">بچه داری</a></li>
                <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a
                        href="#">دانلود اپ</a></li>

            </ul>
        </div>

    </div>

</nav>
<div class="clear"></div>
<div id="header"></div>
<div id="wrap">
    <!--=================================-->
    {% block content %}

    {% endblock %}
    <!--==============================
                  footer
    =================================-->

</div>


<footer class="site-footer">
    <div id="copyright">
       <!--<a target="_blank" title="قالب وردپرس">نی نی کست: صدای مادران شاد</a>-->
        <div class="right">
            <p>نی نی کست هیچ توصیه‌ی پزشکی و درمانی در این حوزه نمی‌کند و این نوشته‌ها جایگزین مراجعه به پزشک نیستند. | همه‌ی حقوق این وبسایت از جمله حق کپی رایت برای نی نی کست محفوظ است..</p>
        </div>
    </div><!-- // copyright -->
</footer>

<script type="text/javascript" src="{% static 'js/masonry.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery.masonry.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/functions.js'%}"></script>
<script type="text/javascript" src="{% static 'js/mobile-nav.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/wp-embed.min.js'%}"></script>
<!-- JQuery -->
<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js'%}"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/tether.min.js'%}"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js'%}"></script>


</body>
</html>