<!DOCTYPE html>
{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="index_height"></div>
<div class="index_container"></div>
<div class="index_row">
    <div class="row">
        <div class="col-lg-12 col-md-12 mb-r">
            <h1>کید کست</h1>
            <h5>آموزش های شنیدنی برای مادران....</h5>
        </div>
        <div class="col-lg-6 col-md-6 mb-r a">
            <a href="#">test</a>
        </div>
        <div class="col-lg-6 col-md-6 mb-r a">
            <a href="#">test</a>
        </div>
        <div class="col-lg-6 col-md-12 mb-r a">
            <audio controls="controls" preload="none" loop>
                <source src="horse.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="col-lg-6 col-md-12 mb-r a">
            <audio controls="controls" preload="none" loop>
                <source src="horse.mp3" type="audio/mpeg">
            </audio>
        </div>
    </div>
</div>

{% endblock %}