<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% extends 'base.html' %}

{% block content %}

    {% for item in items %}
            {% cycle '<div class ="row">' '' '' '' %}
            <div  class="col-lg-3 col-md-6 mb-r" >

                <!--Card-->
                <div  class="card card-cascade narrower" >

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img  src="{{item.image.url}}" class="img-fluid" alt="">
                        <a  href="{{item.id}}">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card Category-->
                    <div class="pinbin-category">
                      <p>
                          <a href='{{item.categoryCode}}' rel="category tag">{{item.categoryName}}</a>
                      </p>
                  </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-xs-center">
                        <!--Category & Title-->
                        <a href=""class="text-muted"><h6>{{item.category}}</h6></a>
                        <h4  class="card-title"><strong><a> {{item.titr}}</a></strong></h4>

                        <!--Rating-->
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>

                        <!--Description-->
                        <p class="card-text">{{item.desc | truncatechars:300}}
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">
                            <a href="{{item.id}}">ادامه مطلب...</a>
                            </span>
                            <!--<span class="right">
                                <a data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
                                <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
                            </span>-->
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
    {% cycle '' '' '' '</div>' %}


    {% endfor %}

<div style="clear:both"></div>
        <!--/First row-->

    </section>
    <!--/Section: Products v.1-->
{% endblock %}