{% extends 'base.html' %}
{% block seoTags %}

<title>نی نی کست: نجوای سلامت کودک</title>
    <meta name="description" content="پادکست سلامت کودکان، مطالب صوتی در حوزه بارداری،‌بچه داری،‌نومادران " />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="نی نی کست"/>
    <meta property="og:url" content="http://ninicast.ir/"/>
    <meta property="og:description" content="پادکست سلامت کودکان، مطالب صوتی در حوزه بارداری،‌بچه داری،‌نومادران " />
    <link rel="canonical" href="http://ninicast.ir/" />
    <meta http-equiv="refresh" content="900">
    <link rel="start" href="http://ninicast.ir/" />
    <link rel="sitemap" href="http://ninicast.ir/sitemap.xml" />
    <link rel="alternate" type="application/rss+xml" title="پیگیری نی نی کست" href="http://www.ninicast.ir/latest/feed" />
{{ block.super }}
{% endblock %}

{% block content %}
    {% for item in items %}
            {% cycle '<div class ="row">' '' '' '' %}
            <div  class="col-lg-3 col-md-6 mb-r" >
                <div  class="card card-cascade narrower" >
                    <div class="view overlay hm-white-slight">
                        {% if forloop.counter0 < 7 %}
                         <a  class="podcasticon" href="itssafe/{{item.id}}" title="{{item.titr}}">
                            <img  src="{{item.thumbUrl}}" class="img-fluid" alt="{{item.titr}}">
                        </a>
                        {% else %}
                        <a  class="podcasticon" href="itsnormal/{{item.id}}" title="{{item.titr}}">
                            <img  src="{{item.thumbUrl}}" class="img-fluid" alt="{{item.titr}}">
                        </a>
                        {% endif %}
                    </div>
                    <!--/.Card Category-->
                    <div class="pinbin-category">
                      <p>
                          {% if forloop.counter0 < 7 %}
                            <a href='itssafe/{{item.categoryCode}}' rel="category tag">{{item.categoryName}}</a>
                        {% else %}
                            <a href='itsnormal/{{item.categoryCode}}' rel="category tag">{{item.categoryName}}</a>
                        {% endif %}

                      </p>
                  </div>
                    <div class="card-block text-xs-center">
                        <h4  class="card-title"><strong><a> {{item.titr}}</a></strong></h4>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <p class="card-text">{{item.desc | truncatechars:300}}
                        </p>
                        <div class="card-footer">
                            <span class="left">
                                {% if forloop.counter0 < 7 %}
                            <a  href="itssafe/{{item.id}}" title="{{item.titr}}" style="font-size:12px;">ادامه مطلب...</a>
                        {% else %}
                            <a  href="itsnormal/{{item.id}}" title="{{item.titr}}" style="font-size:12px;">ادامه مطلب...</a>
                        {% endif %}
                            </span>
                            <span class="right tools">
                                <a data-toggle="tooltip" data-placement="top" title="حذف"><i class="fa fa-trash"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="اشتراک گذاری"><i class="fa fa-share-alt"></i></a>
                                <a class="active" data-toggle="tooltip" data-placement="top" title="نظرات"><i class="fa fa-comment"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    {% cycle '' '' '' '</div>' %}
    {% endfor %}
{% if mod4 > 0 %}
</div>
{% endif %}
<div style="clear:both"></div>
        <!--/First row-->
    <!--/Section: Products v.1-->
{% endblock %}