{% extends 'base.html' %}

{% block seoTags %}
    <title>نی نی کست- سوال-{{item.titr}}</title>
        <meta name="description" content="جواب-{{item.titr}}" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{item.titr}}"/>
        <meta property="og:image" content="{{item.image.url}}"/>
        {{ block.super }}
{% endblock %}
{% block content %}
<div class="post-page">
    <div id="post-26"
         class="post-26 post type-post status-publish format-standard has-post-thumbnail hentry category-14 category-15 tag-6">
        <div class="pinbin-image">
            <img width="750" src="{{post.image.url}}" class="attachment-detail-image size-detail-image wp-post-image"
                 alt="{{post.titr}}" title="{{post.titr}}">
        </div>
        {% if post.audio.url != null %}
        <audio controls="controls" style="width:100%; margin:-7px 0px" preload="none" autoplay><!---->
            <source src="{{post.audio.url}}" type="audio/mpeg">
        </audio>
        {% endif %}
        <div class="post-nav">
            {% if prevID > 0 %}
                <div class="post-prev"><a href="{{prevID}}" rel="prev">→</a></div>
            {% endif %}
            {% if nextID > 0 %}
                <div class="post-next"><a href="{{nextID}}" rel="next">←</a></div>
            {% endif %}
        </div>
        <div class="pinbin-copy">
            <h1>{{post.titr}}</h1>
            <ul class="rating">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
            </ul>
            <p>
                {{post.desc}}
            </p>
            <div class="pagelink"></div>
            <div class="posttags">گروه بندی: <a href="{{catagoryCode}}" rel="tag"> {{catagoryName}}</a></div>
            <div class="clear"></div>
            <!-- If comments are open, but there are no comments. -->

        </div>
        <!-- stat Comment -- >
        <div id="comment-form">
            <h2>دیدگاه شما چیست؟</h2>
            <div id="respond" class="comment-respond">
                <form action="#" method="post" id="commentform" class="comment-form">
                    <div class="row">
                        <p class="comment-notes">
                            <span id="email-notes">نشانی ایمیل شما منتشر نخواهد شد.</span>بخش‌های موردنیاز علامت‌گذاری شده‌اند <span class="required">*</span>
                        </p>
                        <p class="col-md-6">
                            <label for="author">نام <span class="required">*</span></label>
                            <input id="author" style="width: 95%;" name="author" type="text" value="" size="30" aria-required="true" required>
                        </p>
                        <p class="col-md-6">
                            <label for="email">ایمیل <span class="required">*</span></label>
                            <input id="email" style="width: 95%;" name="email" type="text" value="" size="30" aria-describedby="email-notes" aria-required="true" required>
                        </p>
                        <p class="col-md-12">
                            <label for="comment">دیدگاه</label>
                            <textarea id="comment" style="width:100%" name="comment" cols="45" rows="8" aria-required="true" required></textarea>
                        </p>
                        <p class="col-md-12">
                            <input name="submit" type="submit" id="submit" class="submit" value="فرستادن دیدگاه">
                            <input type="hidden" name="comment_post_ID" value="26" id="comment_post_ID">
                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                        </p>
                    </div>
                </form>
        </div>

        </div>
        <!--- End Comment -->
    </div>
    <div class="post-sidebar">
        <div class="sidebox">
            <a href="{{samePost1.id}}" class="podcasticon" title="{{samePost1.titr}}">
                <img src="{{samePost1.thumbUrl}}" alt="{{samePost1.titr}}" />
            </a>
            <h3><a href="{{samePost1.id}}" title="{{samePost1.titr}}">{{samePost1.titr}}</a></h3>
            <div>{{samePost1.desc | truncatechars:150}}</div>
        </div>

        <div class="sidebox">
            <a href="{{samePost2.id}}" class="podcasticon" title="{{samePost2.titr}}">
                <img src="{{samePost2.thumbUrl}}" alt="{{samePost2.titr}}" />
            </a>
            <h3><a href="{{samePost2.id}}" >{{samePost2.titr}}</a></h3>
            <div>{{samePost2.desc | truncatechars:150}}</div>
        </div>

        <div class="sidebox">
            <a href="{{samePost3.id}}" class="podcasticon" title="{{samePost3.titr}}">
                <img src="{{samePost3.thumbUrl}}" alt="{{samePost3.titr}}" />
            </a>
            <h3><a href="{{samePost3.id}}" >{{samePost3.titr}}</a></h3>
            <div>{{samePost1.desc | truncatechars:150}}</div>
        </div>
    </div>
</div>


{% endblock %}